@{     
    ViewData["Title"] = "New Film Added";
}

@model FilmCollectionAssignment.Models.AddFilm

@* Showing confirmation of the film being added *@
<h3>New Film: "@Model.Title" has been added to the Joel Film Collection </h3>
<h6>Thank you.</h6>